
#navBar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px solid white;
    
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Landing Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.landing-body {
    margin: 0;
    height: 100vh;
    /* border: 3px solid orange; */
    align-items: center;
    background-color: #BF94E4;
    overflow: hidden;
    position:fixed;

}

  

#landingGraphic-container {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5em;
    width: 100vw;
   
}


#landing-header {
    /* border: 1px solid red; */
    position: relative;
    bottom: 40em;
    
}

#landing-subheader {
    /* border: 1px solid purple;  */
    font-size: 2em;
    font-family: 'Courier Prime', monospace;
    color: white;
    position: relative;
    bottom: 21em;
    
}

#entranceLink {
    font-family: 'Courier Prime', monospace;
    font-size: 1.6em;
    color: white;
    position: relative;
    bottom: 27em;
}

#entranceLink:hover {
    color: blue;
}

#landing-image {
    height: 100vh;
    width: 150vh;
    /* border: 1px solid blue; */
    position: relative;
    bottom: 5em;
}

/* #landing-image:hover {
    animation: rotation 3s;
    
} */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Landing Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/





/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Home Page Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.home-body {
    background-color: #BF94E4;
}

#home-header {
    border: 1px solid black;
    width: 20em;
    color: whitesmoke;
    font-size: 3em;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Home Page Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/




@keyframes rotation {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
}

